/*Scott Jenks
2/26/2023
Module 12 - bioSite Final
*/

/*
font-family: 'Bangers', cursive;
font-family: 'Gudea', sans-serif;
color: #262631
color: #5f7897
color: #37659E
color: #75EBAB
*/

body {
    margin: 0;
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

h1 {
    margin: 0;
    color: #262631;
    font-family: 'Bangers', cursive;
    font-size: 7em;
    letter-spacing: 10px;
}

h3 {
    font-family: 'Bangers', cursive;
    font-size: 2.75em;
    letter-spacing: 6px;
    color: #5f7897;
}

h6 {
    font-family: 'Gudea', sans-serif;
    color: #5f7897;
    font-size: 1.5em;
}

p {
    font-family: 'Gudea', sans-serif;
    color: #5f7897;
    font-size: 1.30em;
    font-weight: 400;
}

/*Nav Bar CSS*/
header {
    background-color: #37659E;
    text-align: center;
    margin: 0;
}

#navbar {
    background-color: #37659E;
    font-family: 'Gudea', sans-serif;
    font-weight: bold;
    overflow: hidden;
    border-bottom: 5px #75EBAB solid;
}

#navbar a {
    text-decoration: none;
    color: #262631;
    float: left;
    text-align: center;
    padding: 7px 20px;
    font-size: 1.25em;
}

#navbar a:hover {
    background-color: #75EBAB;
    color: #262631;
    font-weight: 400;
    border-radius: 10px 10px 0 0;
}

/*Footer CSS*/
footer {
    background-color: #37659E;
    font-family: 'Gudea', sans-serif;
    width: 100%;
    bottom: 0;
    border-top: 5px #75EBAB solid;
    padding-top: 20px;
    padding-bottom: 20px;
}

footer a {
    color: #262631;
    text-decoration: none;
    font-size: 1.15em;
}

footer a:first-of-type {
    padding-left: 20px;
}

footer a:last-of-type {
    float: right;
    padding-right: 20px;
}

footer a:hover {
    color: #75EBAB;
    text-decoration: double;
    font-weight: bold;
}

/*Index Page CSS*/
#landingContainer {
    background-color: #262631;
    overflow: hidden;
}

.landingPic {
    width: 450px;
    height: 600px;
    display: block;
    margin: 20px auto;
    border-radius: 10%;
    box-shadow: 0 4px 8px 0 #75EBAB, 0 6px 20px 0 #37659E;
}

#landingContainer p {
    text-align: center;
    margin: 20px auto;
    padding-bottom: 20px;
    width: 50%;
    font-weight: 700;
}

/*About Page CSSS*/
#aboutContainer {
    background-color: #262631;
    overflow: hidden;
    padding-left: 20px;
    padding-right: 20px;
}

.aboutPhotos {
    width: 100%;
    margin-top: 20px;
    text-align: center;
}

.aboutPics {
    width: 30%;
    text-align: -50%;
    position: relative;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 5%;
    box-shadow: 0 4px 8px 0 #37659E, 0 6px 20px 0 #37659E;
}

.aboutLuiz {
    position: relative;
    margin: auto;
    width: 70%;
    text-align: justify;
    font-weight: 400;
}

/*Career Page CSS*/
#careerContainer {
    background-color: #262631;
    overflow: hidden;
}

.info {
    padding-left: 20px;
    padding-right: 20px;
    text-align: justify;
    width: 75%;
    margin: auto;
}

.info p {
    font-weight: 700;
}

.box {
    background-color: #75EBAB;
    width: 50%;
    text-align: center;
    margin-left: 25%;
    opacity: 85%;
    font-size: .5em;
}

.links {
    text-decoration: none;
}

.box:hover {
    opacity: 100%;
}

#professor {
    background-image: url("bioSite images/College Professor.jpg");
    padding-top: 200px;
    padding-bottom: 200px;
    background-size: cover;
    background-attachment: fixed;
    background-position: 0% 0%;
    background-repeat: no-repeat;
}

#shoreEx {
    background-image: url("bioSite images/Shore\ Excursions.jpg");
    padding-top: 200px;
    padding-bottom: 200px;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

#cruiseSales {
    background-image: url("bioSite images/Next\ Cruise.jpg");
    padding-top: 200px;
    padding-bottom: 200px;
    background-size: cover;
    background-attachment: fixed;
    background-position: 0% 0%;
    background-repeat: no-repeat;
}

#disney {
    background-image: url("bioSite images/Walt Disney World.jpg");
    padding-top: 200px;
    padding-bottom: 200px;
    background-size: cover;
    background-attachment: fixed;
    background-position: 0% 0%;
    background-repeat: no-repeat;
}

/*Hobbies Page CSS*/
#hobbiesContainer {
    background-color: #262631;
    overflow: hidden;
    padding: 20px 20px;
}

#movies {
    text-align: center;
    width: 70%;
    margin: auto;
}

#movies h3 {
    margin: 0;
    padding-bottom: 10px;
}

#movies p {
    margin: 0;
    padding-bottom: 5px;
}

#movie-gallery {
    margin-top: 10px;
    text-align: center;
}

.movie-info {
    position: relative;
    display: inline-block;
    width: 30%;
    padding: 15px;
    font-size: 1.3em;
}

.movieImage {
    opacity: 1;
    width: 75%;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 45%;
    left: 52%;
    width: 75%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.movie-info:hover .movieImage {
    opacity: 0.1;
}

.movie-info:hover .middle {
    opacity: 1;
}

.description {
    color: #75EBAB;
    width: 95%;
    font-size: 1.15em;
    padding: 5px;
    margin: 0;
    font-weight: bold;
}

.movieInfo {
    text-align: center;
    margin-top: 10px;
    font-size: .85em;
    width: 100;
    height: 60px;
}

#travel {
    text-align: center;
    width: 70%;
    margin: auto;
}

#travelpics {
    text-align: center;
}

#travel h3 {
    margin: 0;
    padding-bottom: 10px;
}

#travel p {
    margin: 0;
    padding-bottom: 15px;
}

/*Start of Modal*/
/* The grid: Four equal columns that floats next to each other */
.column {
    float: left;
    width: 25%;
    padding: 10px;
}

/* Style the images inside the grid */
.column img {
    opacity: 0.8;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 #37659E, 0 6px 20px 0 #37659E;
}

.column img:hover {
    opacity: 1;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* The expanding image container */
.container {
    position: relative;
    display: none;
}

/* Expanding image text */
#imgtext {
    position: absolute;
    bottom: 5%;
    left: 25%;
    background-color: #262631;
    color: #5f7897;
    font-family: 'Gudea', sans-serif;
    font-weight: bold;
    padding: 10px;
    font-size: 20px;
    width: 25%;
}

/* Closable button inside the expanded image */
.closebtn {
    position: absolute;
    right: 20%;
    color: white;
    font-size: 35px;
    cursor: pointer;
}